code {
  color: rgb(194, 42, 42);
  background: inherit;
  font-style: italic;
  font-weight: bold;
}

pre code {
  color: rgb(54, 54, 54);
  font-style: normal;
}

.character {
  color: brown;
}

.comment {
  color: green;
  font-style: italic;
}

.number {
  color: skyblue;
}

.keyword {
  color: blue;
  font-weight: bold;
}

.operator {
  color: gray;
  font-weight: bold;
}

.bracket {
  color: rgb(197, 1, 197);
  font-weight: bold;
}

.logical {
  color: fuchsia;
  font-style: italic;
}
